* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.landing {
  min-width: 100vh;
  display: flex;
  align-items: stretch;
  padding: 30px;
  background-color: black;
  color: white;
}

.landing img {
  width: 50%;
  min-height: 100%;
  object-fit: cover;
}

.landing-content {
  width: 50%;
  min-height: 100%;
  background-image: url(https://media.giphy.com/media/fs6OGJ4Eb3ajC/giphy.gif);
  padding: 30px;

  text-align: end;

  top: 50%;
  left: 50%;
}

.body {
  background-image: url(https://picsum.photos/1200);
  background-size: cover;
  font-family: "Roboto", sans-serif;
  padding: 5% 10%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: blue;
  text-transform: uppercase;
}

.p1 {
  color: rgb(230, 235, 240);
}
#about p {
  color: aliceblue;
}
#form {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 5% 10%;
  border-bottom: red;
}
h1 {
  margin-bottom: 10px;
  color: white;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.contact-label {
  display: none;
}
.contact-input {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5% 10%;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 4px;
  border: none;
  color: rgb(226, 216, 216);
  outline: none;
}
.contact-input ::placeholder {
  text-transform: uppercase;
}
button {
  width: 100%;
  transition-duration: 0.4s;
  background: rgba(238, 236, 236, 0.75);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 4px;
  border: none;
  color: whitesmoke;
}
button:hover {
  background-color: teal;
  color: whitesmoke;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  place-items: center;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  padding-top: 100px;
}
.owl-carousel {
  overflow: hidden;
}

.container {
  background: rgba(255, 255, 255, 0.2);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.h2 {
  padding-bottom: 1%;
}

h3::before,
h3::after {
  content: "-";
}

h3 {
  color: rgb(221, 197, 197);
  text-shadow: yellow;
}

q {
  padding-top: 2%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  flex-basis: 50%;
  text-shadow: whitesmoke;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.owl-carousel .owl-item img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.navbar img {
  height: 15vh;
}
.logo {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.active {
  padding: 15px;
  margin: 5px;
  text-decoration: none;
  background: rgba(13, 11, 11, 0.45);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body .navi {
  margin-left: 0%;
  margin-right: 0%;
  top: -2px;
  position: fixed;
  z-index: 999;
  padding-left: 80px;
}
.page2 {
  display: flex;
}

.about {
  min-width: 100vh;
  display: flex;
  align-items: stretch;
  padding: 30px;
  background-color: black;
  color: white;
}

.hobbies-skills {
  display: flex;
}

.page2 img {
  width: 500px;
  height: 600px;
}
.memo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  text-shadow: whitesmoke;
  padding-top: 30px;
}
.memo h1 {
  padding-bottom: 30px;
}
.Skills {
  min-width: 100vh;
  display: flex;
  align-items: stretch;
  padding: 30px;
  background-color: rgb(230, 24, 24);
  color: white;
}

.Skills-content {
  width: 50%;
  min-height: 100%;

  padding: 30px;
  background-color: #003469;
  text-align: center;

  top: 50%;
  left: 50%;
}
.p6 {
  color: aqua;
}
footer {
  padding: 10px;
  background-color: white;
  font-weight: bold;
}
.icons {
  font-size: 50px;
  display: flex;
  margin: 7px;
  padding: 4px;
  padding-top: 164px;
  padding-left: 230px;
}

.icons i {
  padding: 10px;
  text-decoration: none;
}
.section-project-body {
  min-height: 100vh;

  font-family: sans-serif;
  display: grid;
  place-items: center;
  background-attachment: fixed;
  color: navy;
  padding: 5% 10%;
}

.project-file {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  margin-top: 40px;
  background: rgba(41, 73, 163, 0.55);
  box-shadow: 0 8px 32px 0 rgba(37, 48, 206, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(35, 34, 148, 0.18);
}

.container-heading {
  width: 100%;
  text-align: center;
}

.project-card {
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  overflow: hidden;
  border-radius: 5px;
  flex: 0 1 150px; /*  No stretching: */
  margin: 1%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.project-img {
  width: 100%;
}

.card-heading,
.card-subtitle,
.card-description {
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
}

.project-button {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 1%;
}

.project-button:hover {
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.icons1 {
  color: black;
}
